@media all and (min-width: 0px){
	.main{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: -76.31px;
	}
	.hideDesktop{
		display: none;
	}
	.imageWrapper img:last-child{
		margin: auto;
		width: 100%;
	}
	.heroCaption h3{
		font-family: 'SF Pro Display';
		font-size: 27px;
		line-height: 43px;
		font-weight: normal;
		color: #22322F;
	}
	.heroCaption p{
		font-family: 'SF Pro Display';
		font-size: 16px;
		line-height: 26px;
		font-weight: normal;
		color: #22322F;	
		margin: 27px 0;
	}
	.heroCaption button{
		outline: none;
		border: 2px solid #000000;
		border-radius: 8px;
		box-shadow: 1px 1px 0 0 #22322F;
		padding: 0.625rem 1.5rem;
		background: #71A89E;
		color: #FFFFFF;
		font-family: 'SF Pro Display';
		font-size: 16px;
		line-height: 24px;
	}
}
@media all and (min-width: 768px){
	.hideMobile{
		display: none;
	}
	.hideDesktop{
		display: block;
	}
	.main{
		flex-direction: row-reverse;
	}
	.imageWrapper img{
		width: 80%;
		margin-left: auto;
	}
	.heroCaption{
		width: 80%;
	}
}
@media all and (min-width: 1440px){
	.hideMobile{
		display: none;
	}
	.hideDesktop{
		display: block;
	}
	.main{
		flex-direction: row-reverse;
	}
	.imageWrapper img{
		width: 100%;
		margin-left: auto;
	}
	.heroCaption{
		width: 45%;
		margin-right: auto;
	}
	.heroCaption h3{
		font-family: 'SF Pro Display';
		font-size: 48px;
		line-height: 72px;
	}
	.heroCaption p{
		font-family: 'SF Pro Display';
		font-size: 24px;
		line-height: 32px;
	}
	.heroCaption button{
		font-family: 'SF Pro Display';
		font-size: 18px;
		padding: 1.25rem 1.406rem;
		box-shadow: 2px 2px 0 0 #22322F;
	}
}